$white: #ffffff;
$black: #000000;
$gray: #d5d8dd;
$dark-gray: #2e3238;
$red: #fc0303;
$blue-100: #e5f4ff;
$blue-400: #99d5ff;
$blue-500: #005999;
$blue-600: #0078cf;

$main-text: #2e3238;
$sub-text: #5c6470;
