@use '~/shared/styles/colors' as c;
@use '~/shared/styles/mixins/typography' as t;
@use '~/shared/styles/mixins/utilities' as u;

.form-field {
  width: 100%;

  &__label {
    margin-bottom: 0.5rem;
    @include t.typography(0.875rem, 600, 1.25rem);
  }

  &__required {
    color: c.$red;
  }

  &__error {
    display: block;
    @include u.px(0.875rem);
    
    margin-top: 0.5rem;
    color: c.$red;
  }
}