* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg, label {
  display: block;
}

input, button, textarea, select {
  font: inherit;
  outline: unset;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Reset default table styles */
table {
    border-collapse: collapse; 
    border-spacing: 0;        
    width: 100%;             
    border: none;         
}

th, td {
    border: none;       
    text-align: left;  
    vertical-align: top; 
}

thead, tbody, tfoot, tr {
    border: none;
}
